<section *ngIf="!showTable">
  <div class="addNotificationContainer">
    <button nz-button nzType="primary" (click)="ShowTable()">Back</button>
  </div>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div>
        FORM
        <button nz-button nzType="primary" (click)="SaveImage()">Save Image</button>
      </div>
    </div>
    <div nz-col nzSpan="12" class="NotificationColumn">
      <div id="NotificationDIV" class="NotificationContainer">
        <div class="PartyCodeContainer">
          Party Code : TMP-0332/2021/12/02
        </div>
        <div class="HeaderNotificationContainer">
          <div class="ImageContainer">
            <img src="https://lh3.googleusercontent.com/a-/AOh14GgidfeDV0Aaaqwd6J84DSKdplGshdrFGrqpxi_Y=s70-p-k-rw-no">
          </div>
          <div class="NotificationTitleContainer">
            Notification
          </div>
        </div>
        <hr class="NotificationHR">

        <div class="NoticationContent">
          <div class="NotificationGreetings">Dear Customer,</div><br>
          <div class="NotificationMessage">This Message is to Notify you that your Following, trade name : Mac Donald's Denium Jeans Fabric Sample swatches has been submitted to the Denium Exim Department. The process will take, 1-2 days. We appreciate your paitence. Thank you. </div>
        </div>

        <hr class="NotificationHR">
        <div class="ContactContainer">
          Jayprakash: +91 9974736101
        </div>
        <hr class="NotificationHR">
        <div class="ContactUsContainer">
          <h2>Contact Us:</h2>
          <div class="emailContainer">
            E-mail: <span class="emailFull">jhtextileslimited@gmail.com</span>
          </div>
          <div class="addressContainer">
            Office: B-1036, City center-2, nr. New Cloth Market Raipur, Ahmedabad - 380002
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="showTable">
  <div class="addNotificationContainer">
    <button nz-button nzType="primary" (click)="ShowNotificationForm()">Add Notification</button>
  </div>

  <nz-table #CompaniesTable [nzData]="notificationData">
    <thead>
      <tr>
        <th>Date</th>
        <th>Company Name</th>
        <th>Notification</th>
        <th>Created By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of CompaniesTable.data">
        <td>{{data.Date}}</td>
        <td>{{data.CompanyName}}</td>
        <td>{{data.Notification}}</td>
        <td>{{data.UserName}}</td>
        <td>
          <button class="editButton">
            <i nz-icon nzType="edit" nzTheme="fill"></i>
          </button>
          <button class="imageButton">
            <i nz-icon nzType="file-image" nzTheme="fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</section>

<app-loader *ngIf="fullPageLoading"></app-loader>
