<section *ngIf="!showTable">
  <div class="addNotificationContainer">
    <button nz-button nzType="primary" (click)="ShowTable()">Back</button>
  </div>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div class="NotificationForm">

        <div class="formItemContainer">
          <label>Company</label><br>
          <nz-select [(ngModel)]="SelectedCompany" (ngModelChange)="CompanyChanged()">
            <nz-option *ngFor="let company of CompaniesData" nzValue={{company.CompanyID}} nzLabel={{company.CompanyName}}></nz-option>
          </nz-select>
        </div>

        <div class="formItemContainer">
          <label>Greetings</label><br>
          <input type="text" nz-input [(ngModel)]="Greetings" />
        </div>

        <div class="formItemContainer">
          <label>Message</label><br>
          <textarea rows="4" nz-input [(ngModel)]="NotificationMessage"></textarea>
        </div>

        <div class="saveButtonContainer">
          <button nz-button nzType="primary" (click)="SaveNotificaiton()">Save Notification</button>
          <button nz-button nzType="primary" (click)="SaveImage()"><i nz-icon nzType="download" nzTheme="outline"></i> Download Image</button>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="12" class="NotificationColumn">
      <div id="NotificationDIV" class="NotificationContainer">
        <div class="PartyCodeContainer">
          Party Code : {{SelectedCompanyObject.CompanyCode}}-0332/{{NewDate}}
        </div>
        <div class="HeaderNotificationContainer">
          <div class="ImageContainer">
            <img src={{ProfileData.LogoURL}}>
          </div>
          <div class="NotificationTitleContainer">
            Notification
          </div>
        </div>
        <hr class="NotificationHR">

        <div class="NoticationContent">
          <div class="NotificationGreetings">{{Greetings}}</div><br>
          <div class="NotificationMessage">{{NotificationMessage}}</div>
        </div>

        <hr class="NotificationHR">
        <div class="ContactContainer">
          {{CurrentUserData[3]}}: {{CurrentUserData[4]}}
        </div>
        <hr class="NotificationHR">
        <div class="ContactUsContainer">
          <h2>Contact Us:</h2>
          <div class="emailContainer">
            E-mail: <span class="emailFull">{{CurrentUserData[1]}}</span>
          </div>
          <div class="addressContainer">
            {{ProfileData.Address}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="showTable">
  <div class="addNotificationContainer">
    <button nz-button nzType="primary" (click)="ShowNotificationForm(null)">Add Notification</button>
  </div>

  <nz-table #CompaniesTable [nzData]="notificationData">
    <thead>
      <tr>
        <th>Date</th>
        <th>Company Name</th>
        <th>Notification</th>
        <th>Created By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of CompaniesTable.data">
        <td>{{data.Date}}</td>
        <td>{{data.CompanyName}}</td>
        <td>{{data.Notification}}</td>
        <td>{{data.UserName}}</td>
        <td>
          <button class="editButton">
            <i nz-icon nzType="edit" nzTheme="fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</section>

<app-loader *ngIf="fullPageLoading"></app-loader>
