<div class="addCompanyContainer">
  <button nz-button nzType="primary" (click)="ShowCompanyModal(null)">Add Company</button>
</div>

<nz-modal [(nzVisible)]="CompanyModal" (nzOnCancel)="CompanyModalCancel()">
  <form nz-form [formGroup]="companyForm" (ngSubmit)="CompanyFormSubmit()">
    <ng-container *nzModalTitle>
      <h3>{{CompanyModalTitle}}</h3>
    </ng-container>
    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CompanyCode" nzRequired>Company Code</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorCompanyCode">
          <input nz-input type="text" formControlName="CompanyCode" id="CompanyCode" />
          <ng-template #errorCompanyCode let-control>
            <ng-container *ngIf="control.hasError('required')">Please Enter Company Code</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CompanyName" nzRequired>Company Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorCompanyName">
          <input nz-input type="text" formControlName="CompanyName" id="CompanyName" />
          <ng-template #errorCompanyName let-control>
            <ng-container *ngIf="control.hasError('required')">Please Enter Company Name</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <ng-container *nzModalFooter>
      <button nz-button nzType="primary" type="submit" (click)="CompanyFormSubmit()">Save</button>
      <button nz-button nzType="primary" nzDanger (click)="CompanyModalCancel()">Cancel</button>
    </ng-container>
  </form>
</nz-modal>

<nz-table #CompaniesTable [nzData]="CompaniesData">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of CompaniesTable.data">
      <td>{{data.CompanyName}}</td>
      <td>{{data.CompanyCode}}</td>
      <td>
        <button class="editButton" (click)="ShowCompanyModal(data)">
          <i nz-icon nzType="edit" nzTheme="fill"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<app-loader *ngIf="fullPageLoading"></app-loader>
