/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.editButton{
  border: 1px solid #52BF90;
  cursor: pointer;
  padding: 5px 10px !important;
  background-color: #317256;
  border-radius: 5px;
}

.editButton > i{
  color: #B5E550;
}

.editButton:hover{
  background-color: #398564;
}


.imageButton{
  border: 1px solid #03204C;
  cursor: pointer;
  padding: 5px 10px !important;
  background-color: #04396D;
  border-radius: 5px;
}

.imageButton > i{
  color: #6497B2;
}

.imageButton:hover{
  background-color: #035C96;
}

.NotificationColumn{
  border: 1px solid black;
  overflow-x: auto;
}

.NotificationContainer{
  padding: 5px;
  width: 600px !important;
  background-color: white;
}

.HeaderNotificationContainer{
  display: flex;
  align-items: end;
  position: relative;
}

.NotificationTitleContainer{
  padding: 5px 10px;
  background-color: yellow;
  font-size: 20px;
  font-weight: bold;
  height: max-content;
  width: max-content;
  border: 1px solid black;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.ImageContainer img{
  width: 80px;
}

.PartyCodeContainer{
  text-align: right;
}

.NotificationHR{
  height: 5px;
  background-color: black;
  border: 0px;
}

.ContactContainer{
  text-align: center;
}

.ContactUsContainer{
  text-align: center;
  font-size: 15px;
}

.emailFull{
  color: blue;
  text-decoration: underline;
}

.NoticationContent{
  padding: 50px 10px;
}

.NotificationGreetings{
  font-weight: bold;
}

.w-100{
  width: 100%;
}

#NotificationDIVToSave{
  padding: 5px;
}

.NotificationDivSaveCover{
  position: relative;
  width: 700px;
}

.ant-select{
  width: 100% !important;
}
