.header{
    background-color: black;
    color: white;
    height: 70px;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.footer{
    background-color: black;
    color: white;
    height: 200px;
    margin-top: 20px;
}

.content{
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}